<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Windy</title>

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
     <link rel="stylesheet" href="/css/map.css">
  </head>
  <body>
    <section id="hero">

      <div id="map">
        <div id="windy"></div>
      </div>
      
      <div id="data-box">
        <form action="/find" method="post">
          <input type="text" name="place" placeholder="Enter Your Beach Name">
          <button type="submit"><img src="/assets/pics/search.png" alt="Search"></button>
        </form>
        
        <div class="city-name">
          <h1>City Name</h1>
          <hr>
        </div>

        <div class="data weather">
          <p>weather</p>
          <h3>icon</h3>
        </div>
        <div class="data ocean-info">
          <p>ocean</p>
          <h3>data</h3>
        </div>
        <div class="data temp">
          <p>Temperature</p>
          <h3>Temp</h3>
        </div>
        <div class="data feels">
          <p>Feels Like</p>
          <h3>Temp</h3>
        </div>
        <div class="data humid">
          <p>Humidity</p>
          <h3>Temp</h3>
        </div>
        <div class="data wind">
          <p>Wind speed</p>
          <h3>Temp</h3>
        </div>
        <div class="data uvi">
          <p>UV Index</p>
          <h3>Temp</h3>
        </div>
        <div class="data current-rain">
          <p>Rain</p>
          <h3>Temp</h3>
        </div>
        <div class="data desc">
          <p>Desc</p>
          <h3>Temp</h3>
        </div>



        <!-- <% if (locals.lat) { %>
         <p class="lat"> <%= lat %> </p>
         <p class="lon"> <%= lon %> </p>
         <p class="place"> <%= place %></p>
        <% } else { %>
          <p>Please Enter Valid City</p>
        <% } %>  -->
      </div>
    </section>

    <script src="/js/index.js"></script>
  </body>
</html>
